.img {
    background-image: url("images/bg_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    background-color: transparent !important;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.icoN {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 26px;
}

header {
    padding: 190px 0;
}

#features p {
    text-align: center;
}

.icoN img {
    width: 15%;
}

.img2 {
    background-image: url("images/bg_nuage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.marg {
    margin-top: 8%;
    margin-bottom: 8%;
}

.blocBleu {
    height: 700px;
    background: rgba(0, 174, 255, 0.5);
    color: white;
}

.ligula {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.tiBlock {
    border: 1px solid white;
    margin-top: 8%;
    height: 200px;
}

.tiBlockT {
    text-align: center;
    margin-top: 50px;
    font-size: 22px;
}

.tiBlockC {
    font-size: 40px;
    text-align: center;
}

.imgVelo img {
    width: 100%;
}

.Tvelo {
    font-size: 20px;  
}

.Bouttontake {
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    width: 185px;
    background-position: 136px 18px;
    text-align: left;
    border: solid;
    padding: 0px 20px;
    background-color: rgb(228, 18, 70);
    font-size: 18px;
    background-size: 20px;
    font-size: 20px;
}

.imgPhoto {
    background-image: url("images/bg_appareil_photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Donec {
    text-align: justify;
}


.HGauche {
    background-image: url("images/300.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 100px;
}
.Hdroite {
    background-image: url("images/776.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 431px;
}
.MGauche {
    background-image: url("images/800.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 483px;
}
.MdroiteH {
    background-image: url("images/400.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 300px;
}
.MdroiteB {
    background-image: url("images/2476.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 200px;
}
.Bgauche {
    background-image: url("images/140.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;

}
.Bdroite {
    background-image: url("images/439.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 150px;
}

.fondGris {
    background-color: lightgrey;
    padding: 8% 0
}

.navbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: black;
}

.imgFlou {
    filter:contrast(60%);
    z-index: 1;
    position: absolute;
    max-width: 280%;
}

.texteBas {
    z-index: 9999;
    color: white;
    position: relative;
    margin-top: 10%;
}

section.posit {
    position: relative;
    overflow: hidden;
}

.bar{
    z-index: 9999;
    position: relative;
}

.boutton {
    z-index: 9999;
    position: relative;
    background-color: rgb(228, 18, 70);
    border: solid rgb(228, 18, 70);
    margin-bottom: 40%;
}

.fondFooter {
    background-color: rgb(44, 54, 80);
    height: 250px; 
}

.texteFooter {
    color: white;
    padding-top: 6%;
}

.texteFooter2 {
    color: #30f2cf;
}

.facebook {
    background-image: url("images/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background-image: url("images/twitter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.twitter2 {
    background-image: url("images/twitter2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.git {
    background-image: url("images/git.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ballon {
    background-image: url("/home/vallicelli/Documents/Bootstrap exo/bootstrap-challenge-the_mountain/images/ballon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.espaceFooter {
    padding-top: 2%;
}

.logoFooter1 {
    margin-right: 2%;
    background-color: #30f2cf;
}

.logoFooter {
    margin-right: 2%;
}